.formulario-container{
    width: 100%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editar-capa-wrapper{
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 8px;
}

.capa-preview-imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: opacity 0.3s ease;  
    
}


.capa-overlay svg{
    width: 28px;
    height: 28px;
    color: var(--color-text);
    fill: var(--color-text);
    stroke: var(--color-text);
}

.input-file-hidden{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.formulario.botoes-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: -10px;
    margin-left: -5px;
}

.botao-cancelar{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-base);
    colro: var(--color-text);
    margin-left: 10px;
}

.formulario-botoes-footer .botao-container{
    margin-right: 0;
    margin-left: 0;
    min-width: 180px;
}
