.card-comunidade-container{
    display: flex;
    padding: 15px;
    align-items: flex-start;
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-bg-light-gray);
    border-radius: 16px;
    margin-bottom: 16px;
}

.card-comunidade-coluna-esq{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 10px;

}

.card-comunidade-imagem{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;

}
.card-comunidade-membros{
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-xs);
    color: var(--color-bg-dark-gray);
    font-weight: var(--font-weight-medium);
}

.card-comunidade-coluna-dir{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
    min-width: 0;
}
.card-comunidade-textos{
    flex-grow: 1;
}

.card-comunidade-titulo{
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-medium);
    font-size: var(--fs-base);
    color: var(--color-text);
    margin-bottom: 8px;
}

.card-comunidade-descricao{
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-base);
    color: var(--color-bg-dark-gray);
    margin-bottom: 12px;
    line-height: 1.0;
    latter-spacing: 0.02em;

}

.card-comunidade-link{
    font-family: var(--font-poppins);
    font-size: var(--fs-xs);
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    align-self: flex-end;
}