*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html{
  font-family: var(--font-poppins);

  background-color: var(--color-bg-white);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

#root
{
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
